# Astro Runtime includes the following pre-installed providers packages: https://www.astronomer.io/docs/astro/runtime-image-architecture#provider-packages
astro-sdk-python
apache-airflow-providers-http
apache-airflow-providers-amazon
apache-airflow-providers-cncf-kubernetes
astronomer-providers[all]
astronomer-starship
# Libraries
polars
sqlalchemy